@use "./variables.scss" as v; 
@use "sass:color";
.clockLabel {
    font-size:12px;
    line-height:14px;
    font-family: v.$font-mono;
    letter-spacing: .04em;
    font-weight:600;
    
}
.clockButton {
    padding-right: 4px;
    min-width: 65px;
    padding-top: 8px;
}

window#CALENDAR_WINDOW {
    background:none;
}
#CALENDAR_WINDOW calendar{


    padding: 16px;
    font-size: 14px;

    * {
        
    }
    header {
        padding-bottom: 16px;
        margin: 0 8px;
        button.image-button {
            image{}
        }
        stack.month {
            label{}
        }
        label.year{}
    }
    grid {
        label {
            padding: 4px;
        }
        label.day-name{}
        label.week-number{}
        label.day-number{
            min-height:32px;
            &.other-month {
                color: v.$disabled-text;
            }
            &.today{
                background: v.$primary-yellow;
                color:v.$window-base;
                border-radius:9999px;
            }
        }
    }
}
    
.calendar-container {
    font-family: v.$font-sans;
    margin: 8px 24px 24px 8px;
    
    color: v.$foreground;
    .calendar-button {
        min-width: 40px;
     
        border-radius: 6px;
        &.weekday-button {
            min-height: 0;
            font-size:12px;
            font-weight:600;
        }
        &.day {
            padding: 2px 0 4px 0;
            &.other-month, &.other-month-weekend {
                color:color.change(v.$foreground,$alpha:.25);
            }
            &.today {
                color: v.$accent-color;
                font-weight:800;
            }
            .event-button {
                margin-top: 4px;
                min-width: 6px;
                min-height: 6px; 
                &.active {
                    background:v.$caution-color;
                    border-radius:999px;
                    box-shadow: inset 1px 1px 1px rgba(white,.5), 2px 2px 2px rgba(black,.4)
                }
                
            }
        }
    }
    .top-section {
        background: v.$window-base;
        box-shadow: inset 4px 4px 4px rgba(white,.07), inset -4px 0px 4px rgba(black,.4);
    }
    .header {
        padding: 16px;
        
        /*padding: 16px;
        background:v.$window-base;
        box-shadow: inset 4px 4px 4px rgba(white,.05), inset -4px 0px 4px rgba(black,.5);*/
        .monthyear {
            font-size: 17px;
            font-weight:500;
           // padding: 4px 0
        }
        .monthshift {
          //  min-width: 24px;
        //min-height: 24px;
        //box-shadow: 2px 2px 2px rgba(black,.05);
        }
        .monthshift:hover {
           // background:red;
        }
        .monthshift.left {
            margin-right:8px;
        }
        .reset-button {
            min-height:24px;
            min-width: 24px;
            border-radius: 4px;
            &:hover {
                background-color: v.$container-bg;
            }
        }
    }
    .weekdays {
        padding: 0 4px 6px;
    }
    .days {
        padding: 4px 4px ;
      
        box-shadow: inset 0 4px 4px rgba(white,.06), inset -6px 0 6px rgba(black,.25);
    }
    .week-row {
        padding: 4px 0;
        &:first-child {
            //padding-top:8px;
        }
        &:not(:first-child) {
            border-top:1px solid rgba(white,.03)
        }
        &:not(:last-child) {
            border-bottom:1px solid rgba(black,.1);
        }
    }
    .detail-panel {
        min-width:260px;
        box-shadow: inset 6px 0 6px rgba(white,.05)

    }
    .event-item {
        padding: 16px 10px 0 10px;
        color:v.$foreground;
        &:last-child {
            padding-bottom: 16px;
        }
        .cal-tag {
            background: v.$accent-color;
            border-radius: 4px;
            font-size: 10px;
            font-weight:600;
            padding: 2px 4px;
            margin-bottom: 2px; 
            
        }
        .title {
            font-weight:700;
            font-size:16px;
        }
        .time {
            font-size:14px;
        }
        .location {
            margin-top: 4px;
            font-size: 12px; 
            &-label {
                margin-left: 4px; 
            }
        }
    }
}