@use "./variables.scss" as v; 
.clockLabel {
    font-size:15px;
    line-height:normal;
    font-family: v.$font-mono;

}
.clockButton {
    padding: 0 8px;
}

window#CALENDAR_WINDOW {
    background:none;
}
#CALENDAR_WINDOW calendar{


    padding: 16px;
    font-size: 14px;

    * {
        
    }
    header {
        padding-bottom: 16px;
        margin: 0 8px;
        button.image-button {
            image{}
        }
        stack.month {
            label{}
        }
        label.year{}
    }
    grid {
        label {
            padding: 4px;
        }
        label.day-name{}
        label.week-number{}
        label.day-number{
            min-height:32px;
            &.other-month {
                color: v.$disabled-text;
            }
            &.today{
                background: v.$primary-yellow;
                color:v.$window-base;
                border-radius:9999px;
            }
        }
    }
}
    
