@use "./variables.scss" as v; 

.control-panel {
  
}
.control-panel.taskbar-button {
    font-family: v.$font-mono;
    font-size: 16px;
    padding: 0 8px;
    .taskbar-icon {
       
    }
    .volume-percent {
        font-size:12px;
        margin-left:2px;
    }
    .volume-icon {
       
        font-size: 13px;
    
    }

    .bluetooth-icon {
        font-size:14px;
        color:v.$blue-light;
    }
    .wifi-icon.protected {
        color: v.$caution-color;
    }
    &.active {
        //background-color: v.$container-bg-hover;
    }
    
}