@use "./variables.scss" as v; 
.launcher-button {
    //color: v.$primary-yellow;
    background-color: v.$accent-color;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.3), inset -4px -4px 4px 0 rgba(0,0,0,0.2), inset 4px 4px 4px 0 hsla(0,0%,100%,0.4);
    text-shadow: 0 1px 1px white;
    color:v.$text-dark;
    image {
        -gtk-icon-shadow:  1px 1px 1px rgba(white,.5);
    }
    &:hover {
        background-color: v.$accent-color-hover;
    }
}

.header-styling {
    background: v.$window-base;
    box-shadow: inset 4px 4px 4px rgba(white,.07), inset -4px 0px 4px rgba(black,.4);
}

.launcher {
    font-family: v.$font-sans;
    color:v.$foreground;
    .launcher-menu {
        min-width: 320px;
        &.app {
            min-width: 800px;
         
        }
    }
    .header {
        padding: 16px 16px;
        
        &-text {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .menu-container {
        //border-bottom-left-radius: v.$border-radius-huge;
        //border-bottom-right-radius: v.$border-radius-huge;
       // background-color: v.$window-base;
       box-shadow: inset 0 4px 4px rgba(white,.06);
    }
    .menu-list {
        padding: 18px;
        
    }
    .list-button {
        padding: 16px;
        border-radius: v.$border-radius-big;
        &.active {
            background-color: v.$accent-color;
            color: v.$text-dark;
        }
        &-text {
            font-size:18px;
        }
    }
    .app-entry-container {
        //background-color: v.$window-base;
    }
    .app-header-text {
        padding: 24px 32px;
        padding-bottom: 0;
    }
    .app-entry-container {
        padding: 24px 32px;
        .entry {
            all: unset;
            background-color: v.$foreground;
            color: v.$text-dark;
            font-size: 20px;
            font-family: v.$font-sans;
            padding: 12px; 
            border-radius: v.$border-radius-huge;
            
            box-shadow: inset 4px 4px 4px rgba(black,.3), 3px 3px 2px rgba(white,.15), 0 0 1px 1px v.$window-base; 
            image.left {
                margin-right:8px;
                
            }
        }
        
    }
    .app-launcher-container {
        border-radius:v.$border-radius-huge;
    }
    .app-list-container {
        padding:24px 32px 24px 32px;
    }
    .app-item-container {
        padding: 12px;
        border-radius: v.$border-radius-big;
        .description {
            color:v.$disabled-text;
        }
        &.active {
            background-color: v.$accent-color;
            color:v.$text-dark;
            .description {
                color:v.$text-dark; 
            }
            .app-icon {
                -gtk-icon-shadow: 1px 1px 1px rgba(black,.3)
            }
        }
        .text {
            padding-left: 8px;
            .title {
                font-weight:600;
                font-size:20px;
            }
            .description {
                font-size:14px;
            }
        }
        .pin-container {
            padding: 0 8px;
        }
    }
    .pinned-apps-header {
        font-weight: 600;
        font-size:16px;
        margin-bottom:8px;
    }

    .fake-entry {
        all:unset;
        background:rgba(0,0,0,0);
        color:rgba(0,0,0,0);
        font-size:.00001px; 
    }
    
    
}
.wallpaper-thumbnail {
    background: #2A7B9B;
background: linear-gradient(45deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    min-width: 50px;
    min-height: 50px;
}

.test-image {
    min-width:500px;
    background-color: beige;
}