@use "./variables.scss" as v; 
.launcher-button {
    color: v.$primary-yellow;
}



.launcher {
    .launcher-menu {
        min-width: 320px;
        &.app {
            min-width: 800px;
         
        }
    }
    .header {
        padding: 18px 22px;
        background: v.$container-bg;
        border-bottom:1px solid v.$border-lighter;
        border-top-left-radius: v.$border-radius-huge;
        border-top-right-radius: v.$border-radius-huge;
        border-top: 1px solid v.$border-black;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        &-text {
            font-size: 24px;
            font-weight: 700;
        }
    }
    .menu-container {
        border-bottom-left-radius: v.$border-radius-huge;
        border-bottom-right-radius: v.$border-radius-huge;
        background-color: v.$window-base;
    }
    .menu-list {
        padding: 18px;
        
    }
    .list-button {
        padding: 16px;
        border-radius: v.$border-radius-big;
        &.active {
            background-color: v.$primary-yellow;
            color: v.$window-base;
        }
        &-text {
            font-size:18px;
        }
    }
    .app-entry-container {
        background-color: v.$window-base;
    }
    .app-entry-container {
        padding: 24px;
        .entry {
            all: unset;
            border:1px solid v.$border-lighter;
            background-color: v.$container-bg-hover;
            color: v.$text;
            font-size: 18px;
            font-family: v.$font-sans;
            padding: 12px; 
            border-radius: v.$border-radius-big;
        }
        
    }
    .app-list-container {
        padding:0 24px 24px 24px;
    }
    .app-item-container {
        padding: 12px;
        border-radius: v.$border-radius-big;
        .description {
            color:v.$disabled-text;
        }
        &.active {
            background-color: v.$primary-yellow;
            color:v.$window-base;
            .description {
                color:v.$window-base; 
            }
        }
        .text {
            padding-left: 8px;
            .title {
                font-weight:600;
                font-size:20px;
            }
            .description {
                font-size:14px;
            }
        }
        .pin-container {
            padding: 0 8px;
        }
    }
    .pinned-apps-header {
        font-weight: 600;
        font-size:16px;
        margin-bottom:8px;
    }

    .fake-entry {
        all:unset;
        background:rgba(0,0,0,0);
        color:rgba(0,0,0,0);
        font-size:.00001px; 
    }
    
}