@use "./variables.scss" as v; 
.mic-button {
        background: v.$yelllow-bg;
        
        &:not(.muted):hover {
            box-shadow: inset 1px 1px 0 v.$primary-yellow, inset -1px -1px v.$primary-yellow, inset -1px 1px 0 v.$primary-yellow, inset 1px -1px v.$primary-yellow;;
        }
    &.muted {
        background-color: v.$error-color-lighter;
        &:hover {
            background-color: v.$error-color;
        }
    }
}