@use "./variables.scss" as v; 
@use "sass:color";
tooltip {
    background:v.$foreground;
    color:v.$text-dark;
    font-size: 12px;
    border-radius:4px;
    padding:4px 8px;
    font-family: v.$font-mono;
    box-shadow:inset -4px -4px 4px 0 rgba(0,0,0,0.3), inset 4px 4px 4px 0 hsla(0,0%,100%,1)

}
@mixin container-spacer {
     margin:6px 3px;

}
@mixin container-style {
    border-radius: 6px;
    //background: v.$container-bg;
}
.container,.container-spacer {
    @include container-spacer();
}
.container-button {
    @include container-spacer();
    @include container-style();
    padding:0 8px;
    &.round {
        border-radius: v.$border-radius;
        padding: 0 4px;
    }
    &:hover {
         background:v.$container-bg-hover;
    }
}
@mixin extrude-shadow {
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.3), inset -1px -1px 2px 0 rgba(0,0,0,0.2), inset 2px 2px 2px 0 hsla(0,0%,100%,0.05);
}
.extrude-shadow {
    @include extrude-shadow()
}
@mixin extrude-pressed {
    box-shadow:  inset -2px -2px 2px 0 hsla(0,0%,100%,0.05),inset 2px 2px 2px 0 rgba(0,0,0,0.4);
}
.extrude-pressed {
    @include extrude-pressed();
}
.button {
    @include container-style();
    color: v.$foreground;
    padding: 0;
    min-height:32px;
    min-width:32px;
    font-family: 'JetBrainsMono Nerd Font Mono', "Noto Color Emoji";
    font-size:24px;
    @include extrude-shadow();
   
    &:hover{
        background:v.$container-bg-hover;
 

    }
    &.sm {
        min-width: 24px;
        min-height: 24px;
        font-size: 16px;
    }
    &.alert {
        background-color: v.$error-color;
        color:v.$text;
        &:hover {
            background-color: v.$error-color-hover;
        }
    }
    &.active {
        background-color: color.adjust(v.$window-base,$lightness:-2%);
        @include extrude-pressed();
        
        &:hover {
           // background-color: v.$container-bg;
        }
    }
    &.reverse {
        color: v.$window-base;
        &:hover,&.button.active{
          
            background-color: color.adjust(v.$text,$blackness:20%)
        }
    }
    &.big-raised {
        box-shadow: 4px 4px 8px 0 rgba(0,0,0,.3), inset -4px -4px 4px 0 rgba(0,0,0,0.2), inset 4px 4px 4px 0 hsla(0,0%,100%,0.4);
    }
    image.raised {
        -gtk-icon-shadow: 1px 1px 1px rgba(black,.1)
    }
}
.big-raised {
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.3), inset -4px -4px 4px 0 rgba(0,0,0,0.2), inset 4px 4px 4px 0 hsla(0,0%,100%,0.4);
}
@mixin shadows-menu {
    box-shadow: 0 2px 6px rgba(black,.3);
}
.shadows-menu {
    @include shadows-menu();
}
.bar-popover {
    padding: 0;
}
.bar-popover > contents, .popover-styling, menubutton menu.background{
    border-radius: 10px;
    background-color: v.$text-dark;
    padding: 0;
    font-family: v.$font-sans;
    font-size:14px;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,.3), inset -8px -8px 16px 0 rgba(0,0,0,0.3), inset 10px 10px 10px 0 hsla(0,0%,100%,0.05);
}

/*
@mixin popover-styles {
    background:v.$yelllow-bg;
    font-size: 14px;
    padding: 0;
    @include shadows-menu();

}
.popover-styles-base {
    @include popover-styles();
    &.reverse { 
        background: v.$text;
        color: v.$window-base;
    }
}

popover.popover-styles{
   background:none;
   margin: 0;
   padding: 0;
   border:0;
}
.popover-styles > contents {
 @include popover-styles();
}
.popover-styles popover > contents {
    @include popover-styles();
}
.popover-styles popover {
    modelbutton {
   
    }
   

    
    modelbutton {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        label {
            font-family: v.$font-sans;
        }
        &:hover {
            background: v.$container-bg-hover;
            label {
                background-color: v.$container-bg-hover;
            }
        }
    }
    separator {
        background:v.$border-black;
        margin:  0;
        padding: 1px 0 0 0 ;
    }
}
popover {
    *:disabled,*.disabled {
        color:rgba(255,255,255,.5)
    }
}
*/