@use "./variables.scss" as v; 
@use "sass:color";
tooltip {
    background:v.$text;
    color:v.$window-base;
    font-size: 13px;
    border-radius:v.$border-radius;
    border:1px solid v.$border-black;
    padding:4px 6px;
    font-family: v.$font-mono;
}
@mixin container-spacer {
    margin:4px 2px;

}
@mixin container-style {
    border-radius: 6px;
   // background: v.$container-bg;
}
.container,.container-spacer {
    @include container-spacer();
}
.container-button {
    @include container-spacer();
    @include container-style();
    padding:0 8px;
    &.round {
        border-radius: v.$border-radius;
        padding: 0 4px;
    }
    &:hover {
         background:v.$container-bg-hover;
    }
}

.button {
    @include container-style();
    padding: 0;
    min-height:32px;
    min-width:32px;
    font-family: 'JetBrainsMono Nerd Font Mono', "Noto Color Emoji";
    font-size:24px;
    &:hover,&.active {
        background:v.$container-bg-hover;
        color:v.$text;

    }
    &.sm {
        min-width: 24px;
        min-height: 24px;
        font-size: 16px;
    }
    &.reverse {
        color: v.$window-base;
        &:hover,&.button.active{
            color:v.$window-base ;
            background-color: color.adjust(v.$text,$blackness:20%)
        }
    }
}


@mixin popover-styles {
    background:v.$window-base;
    border: 1px solid v.$border-black;
    border-radius: v.$border-radius-big;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    font-size: 14px;
    padding: 0;

}
.popover-styles-base {
    @include popover-styles();
    &.reverse { 
        background: v.$text;
        color: v.$window-base;
    }
}

popover.popover-styles{
   background:none;
   margin: 0;
   padding: 0;
   border:0;
}
.popover-styles > contents {
 @include popover-styles();
}
.popover-styles popover > contents {
    @include popover-styles();
}
.popover-styles popover {
   
   /* modelbutton {
        margin: 0px 4px;
        padding: 6px;
        border-radius:4px;
        &:hover {
            background: v.$container-bg-hover;
        }
        radio {
            min-width:16px;
            color:currentColor;
        }
    }
    */
    modelbutton {
        border-radius:4px;
        label {
            font-family: v.$font-sans;
        }
        &:hover {
            background: v.$container-bg-hover;
        }
    }
    separator {
        background:v.$container-bg;
        margin: 8px 0;
        padding: 1px 0 0 0 ;
    }
}
popover {
    *:disabled,*.disabled {
        color:rgba(255,255,255,.5)
    }
}
