@use "./variables.scss" as v;
.notification-popup {
    padding-bottom:14px;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,.3), inset -8px -8px 16px 0 rgba(0,0,0,0.3), inset 10px 10px 10px 0 hsla(0,0%,100%,0.1);
    color:v.$text-dark;
    background-color: v.$accent-color;
    border-radius:v.$border-radius-big;
    
    &.critical {
        background-color:v.$error-color-dm;
    }
    &.urgent {
        background-color:v.$caution-color;
    }
    .header {
    
    }
    .dismiss-button {
        padding-top:12px; padding-right:12px;padding-bottom:0; padding-left:6px;
        &:hover {
            color: rgba(0,0,0,.70)
        }
    }
    .header-data {
        padding-top: 6px
    }
    .timestamp {
        font-size: 12px;
    }
    .summary {
        font-weight: 600;
        font-size: 16px;
    }
    .content {
        padding: 0 12px 14px 12px;
    }
    .text {
        padding-right:12px;
    }
    .body {
        font-size:14px;
        padding-top: 2px;
    }
    .containing-box {
        padding-left:12px;
        
    }
    .image-box {
        padding-top:12px;
        &.urgent {
            color: v.$foreground
        }
        &.critical {
            color: v.$foreground
        }
    }
    .action-button-container {
        padding: 8px 12px 0 12px;
    }
    .action-button {
        text-transform:uppercase;
        font-size: 12px;
        font-weight: 600;

        border-radius: 4px;
   
        padding: 6px 8px;
     
    }
}