@use "./variables.scss" as v;


.osd-container {
    margin:24px;
    padding: 0 12px;
    min-height: 48px;
    font-family: v.$font-sans;

    .volume-slider {
        &-trough {
   
            background-color: v.$trough-background;
            min-width: 110px;
            min-height: 6px;
            box-shadow: inset 1px 1px 1px rgba(black,.6), 1px 1px 1px rgba(white,.2) ;
            font-size: 1px;
            border-radius:999px;
        }
        &-highlight {
            min-height: 4px;
            background-color: v.$accent-color;
 
        } 
    }
    .volume-number {
        min-width: 36px;
        padding: 2px 0;
        font-size:18px;
    }
        
    
}