@use "./variables.scss" as v; 


.pomo {
    .banana {
        
        animation: wiggle 1s steps(2) infinite;
        &.start {
            color:#b5bd68;
        }
        &.middle {
            color:#a54242;
         
        }
        &.end {
            color:    #c0a36e;
        }
        &.break {
            color: v.$text;
            
        }
        &:not(.stopped),&:not(.stopped):hover {
            background:none; 
            min-width: 0;
            padding: 0 8px;
        }
      
    }
    
    &:not(.stopped) {

        padding-right: 6px;
    }
    .control {
        font-size: 16px;
        margin: 0 1px;
        padding: 0 2px;
        color:v.$foreground;
        &:hover {
            color:v.$window-white;
        }
        image {
            -gtk-icon-shadow:  2px 2px 2px rgba(black,.3);
        }
    }
    &.stopped, &.paused {
        .banana {
            animation: none;
        }
    }
}


@keyframes wiggle {
  0% { transform: rotateZ(-15deg); }
  100% { transform: rotateZ(15deg); }
}