popover,popover *,popovermenu,popovermenu * , popover arrow, popover contents,tooltip,image,window ,calendar,calendar *{
  all:unset
}
.barCalendar{
  all:unset;
}
.barCalendar {
  header{
    all:unset;
  }
  all:unset;
}
button {
    all:unset;
    font-weight:normal;
    
  }