separator, menubutton,menubutton contents,tooltip,image,window ,calendar,calendar *{
  all:unset
}
popover {
  > arrow {
    all:unset;
  }
}
.barCalendar{
  all:unset;
}
.barCalendar {
  header{
    all:unset;
  }
  all:unset;
}
button {
    all:unset;
    font-weight:normal;
    
  }