popover, popover arrow, popover contents,tooltip {
  all:unset
}
.barCalendar{
  all:unset;
}
.barCalendar {
  header{
    all:unset;
  }
  all:unset;
}
button {
    all:unset;
    font-weight:normal;
    
  }