@use "./variables.scss" as v;

.tray-menu {
   
   
    .tray-row {
        padding:6px 0;
    }
    .tray-top-popover {
        padding: 6px 12px;
    }
    .tray-button:not(:first-child) {
        padding-left:8px;
    }
    .tray-icon {
        padding: 4px;
        border-radius: 4px;
        &:hover {
            background-color: v.$container-bg-hover;
        }
    }
}